<ion-header>
  <ion-navbar>
    <ion-title>
      CONTACT LIST
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
  <button ion-button type="button" (click)="sort()">Sort</button>
  <ion-list>
          <button clear ion-item *ngFor="let homelist of homelists" (click)="itemClicked(homelist)">
              {{homelist.itemName}}
            </button>
 </ion-list>
</ion-content>
