<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{itemInfo.itemName}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
    <h4>{{itemInfo.MobileNo}}</h4>
  <h3>{{itemInfo.city}}</h3>
</ion-content>
